{% extends "base.html" %}

{% block title %}scrolling{% endblock %}

{% block content %}

<script defer src="/static/scrolling.js"></script>

<style type="text/css">
  #container {
  }

  #shelf {
  }

  img.example-poster {
  }

  #btn-left {
  }

  #btn-right {
  }

  button:hover {
  }
</style>

<div id="scrolling-page">

  <h1>scrolling</h1>

  <div id="container">
    <div id="shelf">
      <!-- wrap the image tags, otherwise spaces show up in between -->
      <img src="https://image.tmdb.org/t/p/w500/hLudzvGfpi6JlwUnsNhXwKKg4j.jpg" class="pure-img example-poster"
      ><img src="https://image.tmdb.org/t/p/w500/fyy1nDC8wm553FCiBDojkJmKLCs.jpg" class="pure-img example-poster"
      ><img src="https://image.tmdb.org/t/p/w500/y4MBh0EjBlMuOzv9axM4qJlmhzz.jpg" class="pure-img example-poster"
      ><img src="https://image.tmdb.org/t/p/w500/z4x0Bp48ar3Mda8KiPD1vwSY3D8.jpg" class="pure-img example-poster">
    </div>

    <button id="btn-left" class="pure-button" onclick="setMargin(-200)">←</button>
    <button id="btn-right" class="pure-button" onclick="setMargin(200)">→</button>
  </div>

</div>

{% endblock %}
